<h1>Preferences</h1>
<%= form_for @preference, url: admin_preference_path(@preference) do |f| %>
  <%= f.label :allow_create_artists %> <br>
  True: <%= f.radio_button :allow_create_artists, true %>
  False: <%= f.radio_button :allow_create_artists, false %>
  <br><br>
  <%= f.label :allow_create_songs %> <br>
  True: <%= f.radio_button :allow_create_songs, true %>
  False: <%= f.radio_button :allow_create_songs, false %>
  <br><br>
  <%= f.label :artist_sort_order %> <br>
  Ascending: <%= f.radio_button :artist_sort_order, "ASC" %>
  Descending: <%= f.radio_button :artist_sort_order, "DESC" %>
  <br><br>
  <%= f.label :song_sort_order %> <br>
  Ascending: <%= f.radio_button :song_sort_order, "ASC" %>
  Descending: <%= f.radio_button :song_sort_order, "DESC" %>
  <br>
  <%= f.submit %>
<% end %>
